.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #FACC15, rgba(249, 115, 22));
  padding: 20px;
  border-radius: 10px;
}

.login-titleLogin {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.login-formLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.input-fieldLogin {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-buttonLogin {
  background-color: rgb(255, 128, 0);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.submit-buttonLogin:hover {
  background-color: #ff5900;
}

.signup-textLogin {
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.message-textLogin {
  color: #ff3b30;
  margin-top: 10px;
}

.navigation-linksLogin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.nav-textLogin {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
